<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1f89d4ac-d9ea-44db-b3dd-448e5c857605/resourcegroups/ly-container/providers/Microsoft.ContainerRegistry/registries/WebApplication220210915135402</ResourceId>
    <ResourceName>WebApplication220210915135402</ResourceName>
    <ResourceGroup>ly-container</ResourceGroup>
    <Subscription>yayua</Subscription>
    <RegistryUrl>https://webapplication220210915135402.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>17e73d20-dfa2-492a-8462-d68fc3164916</ProjectGuid>
  </PropertyGroup>
</Project>